*{
	box-sizing: border-box;
}

.wrapper {
	position: relative;
	left: 80px;
	width: 1170px;
}

.column{
	padding: 20px;
	margin: 20px;
}

.left_column{
	width: 25%;	
	float: left;
	background: red;
}

.central_column{
	float: left;
	width:40%;
	background: green;
}

.right_column{
	position: fixed;
	top: 8px;
	left: 930px; 
	width: 300px;
	background: yellow;
}
